<div class="verification-container">
    <div class="form-heading">Verified!</div>
    <div class="form-description">
        <div id="second-line">Your Email is verified</div>
        <div id="third-line">Finally enter below to create account</div>
    </div>
    <form [formGroup]="userDetailsForm">
        <label id="form-label">First Name</label>
        <div class="form-group"><input class="form-control" type="text" formControlName="firstName"></div>
        <div ngClass="error-container" *ngIf="userDetailsForm.controls['firstName'].invalid && (userDetailsForm.controls['firstName'].dirty || userDetailsForm.controls['firstName'].touched)" class="alert">
            <div class="error-text" *ngIf="userDetailsForm.controls['firstName'].errors!['required']">
            Please enter First Name
          </div>
    
        </div>
        <label id="form-label">Last Name</label>
        <div class="form-group"><input class="form-control" type="text" formControlName="lastName"></div>
        <div *ngIf="userDetailsForm.controls['lastName'].invalid && (userDetailsForm.controls['lastName'].dirty || userDetailsForm.controls['lastName'].touched)" class="alert">
            <div class="error-text" *ngIf="userDetailsForm.controls['lastName'].errors!['required']">
            Please enter Last Name
          </div>
    
        </div>
        <label id="form-label">Enter mobile number(optional)</label>
        <div class="form-group"><input class="form-control" type="text" inputmode="numeric" formControlName="mobileNumber"></div>
        <div *ngIf="userDetailsForm.controls['mobileNumber'].invalid && (userDetailsForm.controls['mobileNumber'].dirty || userDetailsForm.controls['mobileNumber'].touched)" class="alert">
            <div class="error-text" *ngIf="userDetailsForm.controls['mobileNumber'].errors!['required']">
            Please enter Mobile Number
          </div>
          <div class="error-text" *ngIf="userDetailsForm.controls['mobileNumber'].errors!['pattern']">
            Enter a valid Mobile Number
          </div>
        </div>
        <label id="form-label">Create Password</label>
        <div class="form-group"><input class="form-control" type="text" formControlName="password"></div>
        
        <div *ngIf="userDetailsForm.controls['password'].invalid && (userDetailsForm.controls['password'].dirty || userDetailsForm.controls['password'].touched)" class="alert">
            <div class="error-text" *ngIf="userDetailsForm.controls['password'].errors!['required']">
            Please enter Password
          </div>
          <div class="error-text" *ngIf="userDetailsForm.controls['password'].errors!['pattern']">
            Enter a valid password
          </div>
        </div>
        <div class="form-group"><button (click)="submit()"  class="btn-done" type="submit">done</button></div>
        
    </form>
    
</div>
