<div *ngIf="isVerify">
<app-user-details></app-user-details>
</div>
<div *ngIf="!isVerify">
    <div> <img src="./assets/authentication/arrow.png" alt="back arrow" class="back-btn"></div>
    <div class="verification-container">
        <img class="img-container" src="./assets/authentication/verification.png" alt="verification">
        <div class="form-heading">Verification</div>
        <div class="form-description">We just sent you the OTP via SMS
            <div id="second-line">your email address/mobile no.</div>
            <div id="third-line">You should get it soon!</div>
        </div>
        <form action="">
            <label id="form-label">Enter OTP</label>
            <div class="form-group"><input class="form-control" type="text" inputmode="numeric"></div>
        
            <div class="form-group"><button (click)="isVerifyFunc()" class="btn-verify" type="submit">verify</button></div>
            
        </form>
        
    </div>
</div>

