.menu-container{
    margin-top: 2%;
    display: flex;
}
.search-food-card{
    flex-grow: 1;
    margin-right: 2%;
}
.search-box{
 
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.14);
    font-size: 16px;
  }
  .search-box img{
    width: 18px;
    padding: 0;
  }
  .search-box-input {
 
    text-align: center;
    all: unset;
    color: #000;
    width: 85%;
    flex-grow: 1;
    margin-right: 20px;
    margin-left: 20px;
  }

  /* food card */

  .food-list{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    
  }
  
  .food-card {
   
    height: fit-content;
    padding-right: 1%;
   
    margin-bottom: 2%;
    border-radius: 6px;
    background-color: #ffff;
    display: flex;
    flex-direction: row;
  }
  #side-headings{
    padding-top: 10px;
    color: #858484;
    font-family: "Open Sans";
    font-size: 18px;
  }
  .food-img {
    padding: 1%;
    height: 15%;
    /* height: fit-content; */
    width: 15%;
    border-radius: 4px;
  }
  .food-details{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .title-rating {
    display: flex;
    
   color: #fff;
    justify-content: space-between;
  
  }
  #food-title {
    margin-top: 2%;
    color: #223136;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
  }
  .bestseller-img {
    justify-self: flex-end;
    margin-top: 1%;
    height: 14px;
  width: 58px;

  }
  .sub-text{
   
    color: #858484;
    font-family: "Open Sans";
    font-size: 12px;
  }
  .description-and-status{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  #add-img{
    align-self: flex-end;
  }
  /* My orders card */
  .my-orders-card{
  height: fit-content;
  width: 30%;
  border-radius: 6px;
  background-color: #ffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }
  .myOrders-flex{
    display: flex;
    justify-content: space-between;
   
    margin: 5% 5% 0% 5%;
  }
  .myOrders-flex span{
    text-align: center;
    color: #F57C00;
   
  }
  #myorder-text{
    color: #000000;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 600;
  }
  .horizontal-line{
    padding-top: 5%;
  border-bottom: 2px solid #ededed;
  }
  .item-list{
    margin: 5%;
  }
  .item-card{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ededed;
  }
  .item-title{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  .veg-nonveg-icon{
    width: 14px;
    height: 14px;
  }
  .add-remove-container{
    display: flex;
    padding: 3px 8px;
    border: 2px solid  #ededed;
    border-radius: 20px;
  }
  .remove-icon{
    align-self: flex-end;
    color: #ED1B2E;
  }
  .mat-icon{
    font-size: 18px;
    padding: 2px;
  }