<div *ngIf="!isLoading" class="menu-container">
  <div class="search-food-card">
    <div class="search-box">
      <img
        src="./assets/home/icn_search_home.png"
        alt="search"
        style="cursor: pointer"
      />
      <input [(ngModel)]="search" name="search"
        class="search-box-input"
        type="text"
        placeholder="Search an Item"  (keydown)="searchMenu($event)"
      />
    </div>
   <div *ngIf="!isSearching">
    <div *ngFor="let item of menu | keyvalue" class="food-list">
      <div *ngIf="item.value.length
      >0" >
      <p id="side-headings">{{item.key}}({{item.value.length}})</p>
      <div class="food-card" *ngFor="let data of item.value">
<div class="img-container">
  <img class="food-img" src="{{data.image}}" alt="food" />
  <img *ngIf="data.veg" class="veg-icon" src="./assets/restaurant-details/restaurant-menu/Group6.png" alt="">
  <img *ngIf="!data.veg" class="veg-icon" src="./assets/restaurant-details/restaurant-menu/Group_8.png" alt="non-veg">
</div>
 
        <div class="food-details">
          <div class="title-rating">
            <div id="food-title">{{data.name}}</div>
            <img *ngIf="data.rating>4"
              class="bestseller-img"
              src="./assets/restaurant-details/restaurant-menu/bestseller-tag.png"
              alt="best seller"
            />
          </div>
          <div class="sub-text">Rs&nbsp;{{data.price}}</div>

          <div class="title-rating">
            <div class="description-and-status">
              <div class="sub-text">
                <span style="color: #a08234">Customizable</span>
              </div>
              <div class="sub-text">
                {{data.description}}
              </div>
            </div>
            <div id="add-img">
              <img (click)="addTocart(data)"
                src="./assets/restaurant-details/restaurant-menu/add-button.png"
                alt="menu"
                *ngIf="!isAdded"
              />
              <img
                src="./assets/restaurant-details/restaurant-menu/added-button.png"
                alt="menu"
                *ngIf="isAdded"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    </div></div>

  
      <div  *ngIf="isSearching" class="food-list">
        <div class="food-card" *ngFor="let data of searchedMenu;let i = index">
  <div class="img-container"> <img class="food-img" src="{{data.image}}" alt="food" />
    <img *ngIf="data.veg" class="veg-icon" src="./assets/restaurant-details/restaurant-menu/Group6.png" alt="">
    <img *ngIf="!data.veg" class="veg-icon" src="./assets/restaurant-details/restaurant-menu/Group_8.png" alt="non-veg">
  </div>
         
          <div class="food-details">
            <div class="title-rating">
              <div id="food-title">{{data.name}}</div>
              <img *ngIf="data.rating>4"
                class="bestseller-img"
                src="./assets/restaurant-details/restaurant-menu/bestseller-tag.png"
                alt="best seller"
              />
            </div>
            <div class="sub-text">Rs&nbsp;{{data.price}}</div>
  
            <div class="title-rating">
              <div class="description-and-status">
                <div class="sub-text">
                  <span style="color: #a08234">Customizable</span>
                </div>
                <div class="sub-text">
                  {{data.description}}
                </div>
              </div>
              <div id="add-img">
                {{addIcon(data.id)}}
                <img (click)="addTocart(data)"
                  src="./assets/restaurant-details/restaurant-menu/add-button.png"
                  alt="menu"
                  *ngIf="!isAdded"
                />
                <img
                  src="./assets/restaurant-details/restaurant-menu/added-button.png"
                  alt="menu"
                  *ngIf="isAdded"
                />
              </div>
            </div>
          </div>
       
        </div>
    
      </div>

  </div>

  <!-- My orders card -->
  <div *ngIf="!isCartLoading" class="my-orders-card">
    <app-my-orders></app-my-orders>
  </div>
 
 
</div>
