<div *ngIf="!isLoading&&!isCartEmpty">
<div class="myOrders-flex">
  {{displaycart()}}

  <div id="myorder-text">My Order</div>
  <div id="clear-text" (click)="clearCart()">Clear cart</div>
</div>
<div  class="horizontal-line"></div>
<div class="item-list">
  <div *ngFor="let data of cartArray;let i=index" class="item-card">
    <div class="item-title">

      <img *ngIf="data['menuItem']['veg']" class="veg-nonveg-icon" src="./assets/restaurant-details/restaurant-menu/Group6.png" alt="">
      <img *ngIf="!data['menuItem']['veg']" class="veg-nonveg-icon" src="./assets/restaurant-details/restaurant-menu/Group_8.png"
        alt="non-veg">
      <div id="item-name">{{data["menuItem"]["name"]}}</div>
      <div class="add-remove-container">
        <div (click)="decrement(data,i)" class="minus">-</div>

        <!-- <img class="mat-remove" src="./assets/restaurant-details/restaurant-menu/my-orders/minus.png" alt="minus">  -->
        <div>{{data["quantity"]}}</div>
        <div (click)="increment(data['menuItem']['id'])" class="add">+</div>
        <!-- <img class="mat-remove" src="./assets/restaurant-details/restaurant-menu/my-orders/add.png" alt="add">  -->
      </div>
    </div>
    <div class="cost-flex">
      <div>Rs{{data["menuItem"]["price"]}}</div>
      <div>Rs{{data["menuItem"]["price"]}}</div>
    </div>
   
    <div class="remove-icon">Remove</div>
  </div>
</div>
<div class="to-pay-card">
  <div>To Pay</div>
  <div>AED85.76</div>

</div>
<div class="comments">
  <label id="cooking-title" for="cookingInstructions">Cooking instructions?</label>
  <input name="cookingInstructions" type="text" placeholder="Mention it here...">
</div>
<div   class="btn-proceed">
  Proceed to checkout >
</div>
</div>
<div  *ngIf="!isLoading&&isCartEmpty" class="cart-empty">
  Cart is empty
</div>