<div class="my-orders-card">
    <div class="myOrders-flex">
      <div id="myorder-text">My Order</div>
      <span>Clear cart</span>
    </div>
    <div class="horizontal-line"></div>
    <div class="item-list">
      <div class="item-card">
        <div class="item-title">
          <img
            class="veg-nonveg-icon"
            src="./assets/restaurant-details/restaurant-menu/veg-icon.png"
            alt=""
          />
          <div>Chili Cheese Meal</div>
          <div class="add-remove-container">
            <mat-icon>remove</mat-icon>
            <div>2</div>
            <mat-icon>remove</mat-icon>
          </div>
        </div>
        <div class="item-title"><div>AED22.00</div>
      <div>AED44.00</div></div>
      <div class="remove-icon">Remove</div>
      </div>
    </div>
  </div>


