.welcome-container {
    margin: 80px 60px 45px 50px;
  }
  .img-container{

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}
  .form-heading {
    text-align: center;
    padding: 60px 0px 0px 20px;
    color: #2a2c30;
    font-weight: bold;
    font-family: "Open Sans";
    font-size: 28px;
    letter-spacing: -0.47px;
  }
  .form-heading2 {
    text-align: center;
    padding: 20px 0px 0px 40px;
    color: #2a2c30;
    font-weight: bold;
    font-family: "Open Sans";
    font-size: 28px;
    letter-spacing: -0.47px;
  }
  .form-description {
    text-align: center;
    padding: 20px 40px 20px 60px;
    width: 300px;
    text-overflow: ellipsis;
    color: #4a4a4a;
    font-family: "Open Sans";
    font-size: 14px;
  }
  #second-line{
      padding: 0px 50px;
  }
  #third-line{
    padding: 0px 10px;
  }
  .form-group{
    padding-right: 10px;
  }
  .btn-login-now {
    border: none;
    width: 100%;
    margin-top: 50px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
  
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.56px;
    color: white;
    border-radius: 6px;
    background: linear-gradient(138.33deg, #f3698e 0%, #feb456 100%);
    box-shadow: 0 4px 10px 0 rgba(246, 126, 126, 0.38);
  }