<div class="parent d-flex">
    <div class="circle1">
    </div>
    <div class="circle-outer1">
    </div>
    <img class="img1" src="{{images[0]}}" alt="">

    <div class="circle2" [ngClass]="activeOrDeactiveCircle2">
    </div>
    <div class="circle-outer2"  [ngClass]="activeOrDeactiveCircle2">
    </div>
    <img class="img2" src="{{images[2]}}" alt="">

    <div class="circle3" [ngClass]="activeOrDeactiveCircle3">
    </div>
    <div class="circle-outer3" [ngClass]="activeOrDeactiveCircle3">
    </div>
</div>

<div class=desc>
    <ul>
        <li>Cart</li>
        <li>Address Details</li>
        <li>Payment</li>
    </ul>
</div>
