<div class="container">
    <div class="nav-link">
      <div class="navbar">
        <a routerLink="/home"><div class="list-items">Home</div></a>
        <div class="list-items"><span style="color: orange;">></span></div>
        <div class="list-items">{{city |titlecase}}</div>
        <div class="list-items"><span style="color: orange;">></span></div>
        <a routerLink="/explore"><div class="list-items">Explore</div></a>
        <div class="list-items"><span style="color: orange;">></span></div>
        <div class="list-items">{{foodType|titlecase}}</div>
        <div class="list-items"><span style="color: orange;">></span></div>
        <div class="list-items">My Cart</div>
      </div>
    </div>
<!-- content -->
<div class="content">
    <div class="content-heading">My Cart (3)</div>
    <div class="card-items">
        <div class="cart-card">
            
        </div>
    </div>
</div>

    </div>
