.container {
    background-color: rgb(241, 243, 251);
    height: 100%;
}

/* navigation */
.nav-link {
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    border-bottom: 2px solid #ededed;
}

.navbar {
    display: flex;
    margin: auto;
    width: 50%;
}

.list-items {
    margin-right: 10px;
    color: #6f6f6f;
}

a {

    text-decoration: none;
}

/* Content */
.content {
    padding-top: 30px;
    padding-bottom: 50px;
    margin: auto;
    width: 50%; 
  
}

.content-heading {
    color: #000000;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0;
}

.card-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.cart-card {
    margin-top: 20px;
  display: flex;
  width: 300px;
  height: fit-content;
  flex-direction: column;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.cart-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#rest-name{
    color: #223136;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
}
#remove-text{
    color: #ED1B2E;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0;
  cursor: pointer;
}
#location-text{
    color: #757575;
  font-family: "Open Sans";
  font-size: 12px;
  letter-spacing: 0;
  margin-top: 5px;
}
.cost-text{
    color: #2D2D2D;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}
.proceed-btn{
    margin-top: 20px;
    align-self: flex-end;
    border: 1px solid rgba(246,126,126,0.38);
    border-radius: 15px;
    padding: 5px 16px;
    font-size: 14px;
    background-color: #fff;
    color:rgba(248, 8, 8, 0.38);
    text-transform: uppercase;
}
  