<div  *ngIf="!isLoading&&!isIndividualCart" class="container">
    <div class="nav-link">
        <div class="navbar">
            <a routerLink="/home">
                <div class="list-items">Home</div>
            </a>
            <div class="list-items"><span style="color: orange;">></span></div>
            <div class="list-items">{{city |titlecase}}</div>
            <div class="list-items"><span style="color: orange;">></span></div>
            <a routerLink="/explore">
                <div class="list-items">Explore</div>
            </a>
            <div class="list-items"><span style="color: orange;">></span></div>
            <div class="list-items">{{foodType|titlecase}}</div>
            <div class="list-items"><span style="color: orange;">></span></div>
            <div class="list-items">My Cart</div>
        </div>
    </div>
    <!-- content -->
    <div  class="content">
        <div *ngIf="!isCartEmpty" class="content-heading">My Cart ({{cartList.length}})</div>
        <div *ngIf="isCartEmpty" class="content-heading">Cart is Empty</div>
        <div class="card-items">
            <div *ngFor="let item of cartList"  class="cart-card">
                {{priceCalculation(item["data"])}}
                <div class="cart-flex">
                    <div id="rest-name">{{item["restaurant"]["name"]}}</div>
                    <div  (click)="removeIndividualCart(item['restaurant']['id'])"  id="remove-text">Remove</div>
                </div>
                <div id="location-text">{{item["restaurant"]["address"]}}</div>
                <div class="cost-text">{{item["data"].length}} item | Rs&nbsp;{{totalPrice}}</div>
                <button (click)="goToIndividualCart(item['restaurant']['id'],item['restaurant']['name'],item['restaurant']['address'],item['cartId'])" class="proceed-btn">proceed</button>
            </div>
        </div>
    </div>
    

</div>
<div *ngIf="isLoading&&!isIndividualCart" class="
progress-indicator">
  <mat-progress-spinner color=warn mode="indeterminate">
  </mat-progress-spinner>
</div>
<div *ngIf="isIndividualCart">
    <app-individual-cart></app-individual-cart>
</div>