.container {
    background-color: rgb(241, 243, 251);
  }
  /* navigation */
  .nav-link {
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    border-bottom: 2px solid #ededed;
  }
  .navbar {
    display: flex;
    margin: auto;
    width: 50%;
  }
  .list-items {
    margin-right: 10px;
    color: #6f6f6f;
  }
  a {
    
    text-decoration: none;
  }
  /* Content */
  .content {
    padding-top: 30px;
    padding-bottom: 20px;
    margin: auto;
    width: 50%;
  }
  .content-heading{
    color: #000000;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0;
  }
  .card-items{
    display: flex;
  }
  .cart-card{
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
  }