<div *ngIf="isSendOtp">
    <app-otp-verification></app-otp-verification>
    </div>
    <div *ngIf="!isSendOtp">
        <div> <img src="./assets/authentication/arrow.png" alt="back arrow" class="back-btn"></div>
        <div class="forgot-container">
            <img class="img-container" src="./assets/authentication/forgot-icon.png" alt="verification">
            <div class="form-heading">Forgot Password</div>
            <div class="form-description">Share your registered either email address or
                <div id="second-line">mobile number to send you the OTP to</div>
                <div id="third-line">reset your password</div>
            </div>
            <form [formGroup]="forgotForm">
                <div class="tab-group">
                    <div (click)="emailTab()" [ngClass]="isEmailTab ? 'email-active-tab' : 'email-inactive-tab'">Email</div>
                    <div (click)="mobileTab()" [ngClass]="isMobileTab ? 'mobile-active-tab' : 'mobile-inactive-tab'">Mobile</div>
                </div>
                <div *ngIf="isEmailTab">
                    <label id="form-label">Email</label>
                        <div class="form-group"><input class="form-control" type="email" formControlName="forgotEmail" (focus)="notFocused=false" (focusout)="notFocused=true"></div>
                        <div *ngIf="forgotForm.controls['forgotEmail'].invalid && (forgotForm.controls['forgotEmail'].dirty || forgotForm.controls['forgotEmail'].touched)" class="alert">
                            <div class="error-text" *ngIf="forgotForm.controls['forgotEmail'].errors!['required']">
                            Please enter Email
                          </div>
                          <div class="error-text" *ngIf="forgotForm.controls['forgotEmail'].errors!['pattern'] && notFocused">
                            Invalid email address
                          </div>
                        </div>
                </div>
                <div *ngIf="isMobileTab">
                    <label id="form-label">Mobile No.</label>
                    <div class="form-group"><input class="form-control" type="text" inputmode="numeric" 
                       
                        ></div>
                    <!-- <div *ngIf="forgotForm.controls['mobileNumber'].invalid && (forgotForm.controls['mobileNumber'].dirty || forgotForm.controls['mobileNumber'].touched)" class="alert">
                        <div class="error-text" *ngIf="forgotForm.controls['mobileNumber'].errors!['required']">
                        Please enter Mobile Number
                      </div>
                      <div class="error-text" *ngIf="forgotForm.controls['mobileNumber'].errors!['pattern']">
                        Enter a valid Mobile Number
                      </div>
                    </div> -->
                </div>
            <!-- <mat-tab-group class="tab-style">
                <mat-tab label="Email">
                      
                        <label id="form-label">Email</label>
                        <div class="form-group"><input class="form-control" type="email"></div>
                    
                    </mat-tab>
                <mat-tab label="Mobile No.">
                    <label id="form-label">Mobile</label>
                        <div class="form-group"><input class="form-control" type="number"></div>
                     </mat-tab>

              </mat-tab-group> -->
              <div class="form-group"><button (click)="sendOtpFunc()" class="btn-send" type="submit">send otp</button></div>
            </form>
            
        </div>
    </div>

