
.verification-container {
    margin: 50px 60px 45px 50px;
  }
  .img-container{
    height: 130px;
    width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}
  .form-heading {
    text-align: center;
    padding: 50px 0px 0px 0px;
    color: #2a2c30;
    font-weight: bold;
    font-family: "Open Sans";
    font-size: 28px;
    letter-spacing: -0.47px;
  }
  .form-description {
    text-align: center;
    padding: 20px 40px 20px 60px;
    width: 300px;
    text-overflow: ellipsis;
    color: #4a4a4a;
    font-family: "Open Sans";
    font-size: 14px;
  }
  #second-line{
      padding: 0px 50px;
  }
  #third-line{
    padding: 0px 10px;
  }
  #form-label {
    display: block;
    padding-top: 30px;
    color: #858585;
    font-family: "Open Sans";
    font-size: 15px;
  }
  .form-group{
    padding-right: 20px;
  }
  
  .form-control {
   
    border: none;
    border-bottom: 1px solid #000000;
    padding: 10px 0px;
    outline: none;
    width: 100%;
  }
  .btn-done {
    border: none;
    width: 100%;
    margin-top: 70px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
  
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.56px;
    color: white;
    border-radius: 6px;
    background: linear-gradient(138.33deg, #f3698e 0%, #feb456 100%);
    box-shadow: 0 4px 10px 0 rgba(246, 126, 126, 0.38);
  }
  .error-text{
    padding-top: 10px;
    color: #ED1B2E;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.2px;
  }
  #password-field{
    display:flex; 
    padding-right: 20px;
   
   } 

#blink-icon{
   color: #858585;
   border-bottom: 1px solid #000000;
   padding-bottom: 20px;
   
  } 