<div *ngIf="isSuccess">
    <app-new-password-input></app-new-password-input>
    </div>
    <div *ngIf="!isSuccess">
        <div class="verification-container">
            <img class="img-container" src="./assets/authentication/verified-tick.png" alt="verification">
            <div class="form-heading">Verified!</div>
            <div class="form-description">
                <div id="second-line">Your mobile no. is verified.</div>
                <div id="third-line">Enter the new password to reset your account</div>
            </div>
            <form [formGroup]="forgotForm">
                <label id="form-label">Enter New Password</label>
                <div class="form-group"><input class="form-control" type="text" formControlName="password"></div>
                <div *ngIf="forgotForm.controls['password'].invalid && (forgotForm.controls['password'].dirty || forgotForm.controls['password'].touched)" class="alert">
                    <div class="error-text" *ngIf="forgotForm.controls['password'].errors!['required']">
                    Please enter Password
                  </div>
                  <div class="error-text" *ngIf="forgotForm.controls['password'].errors!['pattern']">
                    Enter a valid password
                  </div>
                </div>
                <div class="form-group"><button (click)="isSuccessFunc()" class="btn-done" type="submit">done</button></div>
                
            </form>
            
        </div>
    </div>

