<div *ngIf="!isBack && !isNext" class="container">
  <div class="nav-link">
    <div class="navbar">
      <a routerLink="/home">
        <div class="list-items">Home</div>
      </a>
      <div class="list-items"><span style="color: orange">></span></div>
      <div class="list-items">{{ city | titlecase }}</div>
      <div class="list-items"><span style="color: orange">></span></div>
      <a routerLink="/explore">
        <div class="list-items">Explore</div>
      </a>
      <div class="list-items"><span style="color: orange">></span></div>
      <div class="list-items">{{ foodType | titlecase }}</div>
      <div class="list-items"><span style="color: orange">></span></div>
      <div class="list-items">My Cart</div>
    </div>
  </div>
  <div class="content">
    <div class="content-heading">Choose Address</div>

    <div class="resto-card">
      <div class="item-list">
        <p>How would you like us to get your meal to you?</p>

        <form [formGroup]="detailForm">
          <div class="delivery-image">
            <div class="image-left">
              <img src="./assets/cart/deliver_icon.png" />
              <div class="radio-input">
                <input type="radio" id="radio-btn" value="homeDelivery" name="select" (change)="deliveryIn($event)"
                  checked />
                <label for="radio">Deliver to me</label>
              </div>
            </div>

            <div class="image-right">
              <img src="./assets/cart/pick_up_icon.png" />
              <div class="radio-input">
                <input type="radio" id="radio-btn" value="pickUp" name="select" (change)="deliveryIn($event)" />
                <label for="radio">Pick up</label>
              </div>
            </div>
          </div>
          <!-- {{getAddress()}} -->

          <div class="choose-address">
            <div class="header">
              <p class="Title">My Addresses</p>
              <button type="button" (click)="addAddress()">ADD NEW</button>
            </div>

            <!-- <div class="display">
              <div class="address-card">
                <div class="head">
                  <p>{{addressType |titlecase}}</p>

                  <div class="primary-able">
                    <input type="radio" id="check" name="addid" value="true" />
                  </div>
                </div>

                <div class="body">
                  <p class="address-body">{{address}}</p>
                </div>

                <div class="buttons">
                  <button type="button" class="edit" (click)="update()">Edit</button>
                  <button type="button" class="delete" (click)="delAddress()">Delete</button>
                </div>
              </div>
            </div> -->
          </div>

          <div class="details">
            <p class="title">Contact Details</p>
          </div>

          <label id="form-label">Name</label>
          <div class="form-group">
            <input class="form-control" type="text" formControlName="name" (focus)="notFocused = false"
              (focusout)="notFocused = true" />
          </div>
          <div *ngIf="
              detailForm.controls['name'].invalid &&
              (detailForm.controls['name'].dirty ||
                detailForm.controls['name'].touched)
            " class="alert">
            <div class="error-text" *ngIf="
                detailForm.controls['name'].errors!['required'] && notFocused
              ">
              Please enter Name
            </div>
          </div>
          <label id="form-label">Mobile No.</label>
          <div class="form-group">
            <input class="form-control" type="text" inputmode="numeric" formControlName="phone"
              (focus)="notFocused = false" (focusout)="notFocused = true" />
          </div>

          <div *ngIf="
              detailForm.controls['phone'].invalid &&
              (detailForm.controls['phone'].dirty ||
                detailForm.controls['phone'].touched)
            " class="alert">
            <div class="error-text" *ngIf="
                detailForm.controls['phone'].errors!['pattern'] && notFocused
              ">
              Enter a valid Mobile Number
            </div>
          </div>
          <div class="comments">
            <label id="cooking-title" for="cookingInstructions">Delivery instructions?</label>
            <input name="cookingInstructions" formControlName="cookingInstructions" type="text"
              placeholder="Mention it here..." />
          </div>
          <div class="btn-flex">
            <button type="button" (click)="goToIndividualCart()" class="back-btn">
              back
            </button>
            <button type="button" (click)="choosePayment()" class="address-btn">
              choose payment
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isBack && !isNext">
  <app-individual-cart></app-individual-cart>
</div>
<div *ngIf="isNext">
  <app-payment></app-payment>
</div>