
.navbar {
  color: #ffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 1% 2%;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  margin: auto;
}

.lorem-logo {

  flex-grow: 1;
  font-family: "Bebas Neue";
  font-size: 40px;
  letter-spacing: 0;
  justify-content: flex-start;
  line-height: 40px;
  background: linear-gradient(138.33deg, #f3698e 0%, #F67E03 10%, #feb456 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: white;
}

.nav-list {
  display: flex;
  /* padding-top: 50px; */
}

.list-items {

  padding-right: 35px;
  justify-content: flex-end;
  color: #303134;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.5px;
}
.profile-avatar{
  /* vertical-align: middle; */
  background-color: #D8D8D8;
  /* padding: auto; */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
#profile-icon{
  padding: 10px;
}
.cart-class {
  display: flex;
  align-self: center;
  background: linear-gradient(138.33deg, #f3698e 0%, #feb456 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  justify-content: flex-end;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.5px;
}
#cart-text{
  align-self: start;
}
#vertical-line {
  text-align: center;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 35px;
  /* height: 48px; */
}

.cart-bag1{
  box-sizing: border-box;
height: 7px;
width: 8px;
border: 2px solid #FA966D;
border-radius: 10px;
position: relative;
 left: 4%;
}
.cart-bag2{
  height: 21px;
  color: #ffff;
  width: 20px;
  border-radius: 3px;
  background: linear-gradient(138.33deg, #F3698E 0%, #FEB456 100%);
  box-shadow: 0 4px 10px 0 rgba(246,126,126,0.38);
  position: relative;
  top: 6px;
  right: 16%;
  cursor: pointer;
}
.cart-bag2 p{
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 19px;
  text-align: center;
 
}



/* Search container */
.search-background {
  background: url("src/assets/header/bg_pattern.png");
}

.search-container {
  margin: auto;
  width: 50%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.search-field {
  margin-top: 1%;

  display: flex;
  /* justify-content: space-between; */
}
#search-img{
  padding: 10px;
  height: 25px;
  width: 18px;
text-align: center;
}
.search-box {
  display: flex;
  background-color: #FFFFFF;
  width: 50%;
  flex-grow: 1;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
  font-size: 16px;
}

.search-box-input {
  text-align: center;
  all: unset;
  color: #000;
  width: 85%;
  flex-grow: 1;
  margin-right: 20px;
  margin-left: 20px;
}

.location-box {
  color: #000;
  display: flex;
  background-color: #FFFFFF;
  margin-right: 20px;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
  font-size: 16px;
}
.location-img{
  height: 22px;
  width: 22px;
}
.icn-pin-img{
  height: 18px;
  width: 10px;
}
.location-box-input {
  all: unset;
  color: #000;
  margin-right: 10px;
  margin-left: 10px;
}
.clock-img{
  display: block;
  padding: 0 !important;
  size: 100%; 
  padding: 0;
  margin: 0; 
  line-height: 0;
  /* max-width: 100%;  
height: auto;   */
  /* width: 8%;
  height: 8%; */
  margin-left: 10px;
}