<div class="container">
  <div class="navbar">
    <div class="lorem-logo">LOREM</div>
    <div class="nav-list">
      <div class="list-items">Ashley
      </div>
      <div id="vertical-line"></div>
      <div class="list-items">
        Logout
      </div>
      <div class="cart-class">
        
        <img id="cart-image" src="./assets/home/icn_cart.png" alt="cart" />
        <div>CART</div>
      </div>
    </div>
  </div>
  <div class="search-background">
 <div class="search-container">
  <div>Delivery ASAP</div>
  <div class="search-field">
    <div class="location-box">
      <img class="icn-pin-img"
        src="./assets/home/icn_pin.png"
        alt="pin"
        style="cursor: pointer"
      />
      <input class="location-box-input" type="text" />
      <img class="location-img"
        src="./assets/home/icn_gps_indicator.png"
        alt="geolocator"
        style="cursor: pointer"
      />
    </div>
    <div class="search-box">
      
      <input class="search-box-input"  type="text" />
      <img 
        src="./assets/home/icn_search_home.png"
        alt="search"
        style="cursor: pointer"
      />
    </div>
    <img class="clock-img"
            src="./assets/home/now_button.png"
            alt="date"
            style="cursor: pointer"
          /> 
  </div>
 </div>


  </div>
</div>

