.container {
    background-color: rgb(241, 243, 251);
    
}

/* navigation */
.nav-link {
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    border-bottom: 2px solid #ededed;
}

.navbar {
    display: flex;
    margin: auto;
    width: 50%;
}

.list-items {
    margin-right: 10px;
    color: #6f6f6f;
}

a {

    text-decoration: none;
}

/* Content */
.content {
    padding-top: 30px;
    padding-bottom: 50px;
    margin: auto;
    width: 50%; 
}

.content-heading{
    color: #000000;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0;
  margin-bottom: 5px;
}
.resto-card{
    
    height: fit-content;
    width: 100%;
    border-radius: 6px;
    background-color: #ffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    /* margin-bottom: 20px;  */
}
.item-list {
    padding: 20px;
  }
  .card-flex{
    display: flex;
    margin-top: 20px;
    width: 100%;
  }
  #radio{
    accent-color: black;
  }
  .cash-card{
   align-items: center;
    margin-right: 20px;
    display: flex;
    padding: 10px;
    width: fit-content;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
  }
  .payment-img{
    margin-left: 10px;
  }
  .payment-type{
    margin-left: 10px;
    flex-grow: 1;
  }
  .sub-text{
margin-top: 20px;
  color: #000000;
  font-family: "Open Sans";
  font-size: 17px;
  }
  .delivery-details-card{
    border-radius: 6px;
    margin-top: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
    padding: 20px;

   
  }
  #form-label {
    padding: 0;
    margin: 0;
   padding-top: 30px;
    color: #858585;
    font-family: "Open Sans";
    font-size: 16px;
  }
  .form-group {
      padding-right: 20px;
      padding-bottom: 20px;
    }
    .form-control {
    
      border: none;
      border-bottom: 1px solid #A4A4A4;
      padding: 0px 0px;
      outline: none;
     border: none;
      
    }
  .btn-flex{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 30px;
    /* padding-top: 20px; */
    padding-right: 20px;
  }
  .hotel-card{
    margin-top: 20px;
    border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
  
  }
  .hotel-flex{
    display: flex;
    padding: 20px;
  }
  .hotel-details{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  #horizontal-line{
    border-bottom: 1px solid #EDEDED;
    margin-bottom: 10px;
    /* padding-top: 10px;
    padding-bottom: 10px; */
  }
  #hotel-name{
    color: #2D2D2D;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
  }
  #hotel-location{
    color: #2D2D2D;
    font-family: "Open Sans";
    font-size: 14px;
    letter-spacing: -0.24px;
  }
  #arrow-img{
    height: 14px;
  width: 8px;
  justify-self: flex-end;
  }
  .back-btn{
    align-self: self-end;
    background-color: white;
    padding: 15px 50px;
    margin-right: 20px;
    color: #979797;
    border: 1px solid #979797;
    border-radius: 6px;
    text-transform: uppercase;

  }
  .address-btn{
    border: none;
    margin-top: 70px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
  
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.56px;
    color: white;
    border-radius: 6px;
    background: linear-gradient(138.33deg, #f3698e 0%, #feb456 100%);
    box-shadow: 0 4px 10px 0 rgba(246, 126, 126, 0.38);
  }
  .btn-danger{
    border: none;
    margin-top: 70px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
  
    cursor: not-allowed;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.56px;
    color: white;
    border-radius: 6px;
    background: linear-gradient(138.33deg, #f3698e 0%, #feb456 100%);
    box-shadow: 0 4px 10px 0 rgba(246, 126, 126, 0.38);
  }