<div *ngIf="isLoginNow">
    <app-welcome></app-welcome>
</div>
<div *ngIf="!isLoginNow">
    <div class="success-container">
        <img class="img-container" src="./assets/authentication/new-password-success.png" alt="success">
        <div class="form-heading">Great!</div>
        <div class="form-description">
            <div id="third-line">Your password has been successfully reset</div>
        </div>
        
            <div class="form-group"><button (click)="loginNowFunc()" class="btn-login-now" type="submit">login now</button></div>
            
        
    </div>
</div>