/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: 'Bebas Neue';
    src: url('src/assets/fonts/BebasNeue-Regular.ttf');
  }
  .progress-indicator{
    display: block;
  
    position: fixed;
    z-index: 1031; /* High z-index so it is on top of the page */
    top: 50%;
    right: 50%; /* or: left: 50%; */
   
  }

  /* .container-div ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke:#feb456;
} */