<div class="container1">
    <div class="navbar">
       
            <div class="lorem-logo">LOREM</div> 
            <div class="nav-list"></div>
            <ul>
                <li (click)="openLoginPopup()" class="list-items"> 
                    LOGIN</li>
                <li (click)="openRegisterPopup()" class="list-items">CREATE AN ACCOUNT</li>
                <li  class="list-items">CART</li>
            </ul>
        
        
       
    
    </div>
    <div class="navigation">
        <button (click)="openRegisterPopup()">Click to open popup</button>
        <button (click)="openLoginPopup()">Login</button>
    </div>
  
</div>
<div class="container-2">
    <div class="content">
        <div class="container-heading">Popular Brands</div>
        <div class="container-description">Find out more about the world's top food brands are available all over world today</div>
        <img src="./assets/home/homediv2.png" alt="burger">
    </div>
   
</div>

