<div class="home-container">
  <div class="container1">
    <div class="navbar">
      <div class="lorem-logo">LOREM</div>
      <div class="nav-list">
        <div (click)="openLoginPopup()" class="list-items">LOGIN</div>
        <div (click)="openRegisterPopup()" class="list-items">
          CREATE AN ACCOUNT
        </div>
        <div class="cart-class">
          <div id="vertical-line"></div>
          <img id="cart-image" src="./assets/home/icn_cart.png" alt="cart" />
          <div>CART</div>
        </div>
      </div>
    </div>
    <div class="content1">
      <div id="content1-heading">
        <p>Order your food</p>
        from the best restaurants
      </div>
      <div class="search-box">
        <img
          src="./assets/home/icn_search_home.png"
          alt="search"
          style="cursor: pointer"
        />
        <input class="search-box-input" size="1" type="text" />
      </div>
      <div class="location-date">
        <div class="location-box">
          <img
            src="./assets/home/icn_pin.png"
            alt="pin"
            style="cursor: pointer"
          />
          <input class="location-box-input" size="1" type="text" />
          <img
            src="./assets/home/icn_gps_indicator.png"
            alt="geolocator"
            style="cursor: pointer"
          />
        </div>
      <!-- <div><mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" 
        (click)="picker.open()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field></div> -->
        
        
          <div class="date-box">
            
          <input class="location-box-input"  matInput  [matDatepicker]="picker" [formControl]="date1 "/>
          <mat-datepicker-toggle [for]="picker">
            <mat-icon [autofocus]="false" class="icon-class" matDatepickerToggleIcon>
            <img (click)="picker.open()"
            src="./assets/home/now_button.png"
            alt="date"
            style="cursor: pointer"
          /> 
        </mat-icon>
           </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
       
          </div>
        
      </div>
    </div>
  </div>
  <div class="container-2">
    <div class="content2">
      <div id="content2-heading">Popular Brands</div>
      <p class="para-text">
        Find out more about the world's top food brands are available all over
        the world today.
      </p>
      <div class="burger-container">
        <img src="./assets/home/homediv2.png" alt="burger" />
        <div class="kfc-container">
            <div class="kfc-img-container">
                 <img src="./assets/home/kfc.png" alt="kfc" />
                 <div id="kfc-text-container">
                    <h1>KFC</h1>
                 <p class="text-style">Latin American, Bakery</p>
                 </div>
                 
                </div>
           
            <hr class="horizontal-line"/>
            <div class="text-style"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus </p>
            consequat purus sit amet lectus bibendum finbus vel. </div>
        </div>
      </div>
      
    </div>
   
  </div>

  <div class="container3">
    <div class="content3-flex1">
        <div class="lorem-text">LOREM</div>
        <p class="text-style"><span class="orange-text">24</span>&nbsp;CITIES</p>
        <p class="text-style"><span  class="orange-text">4</span>&nbsp;COUNTRIES</p>
        <img src="./assets/footer/india-icon.png" class="country-img" alt="India">
        <img src="./assets/footer/kuwait.png" class="country-img" alt="Kuwait">
        <img src="./assets/footer/qatar.png" class="country-img" alt="qatar">
        <img src="./assets/footer/united-kingdom.png" class="country-img" alt="Uk">
        <img src="./assets/footer/google-plus-logo.png" class="country-img" alt="google">
        <img src="./assets/footer/facebook-app-symbol.png" class="country-img" alt="facebook">
        <img src="./assets/footer/linkedin.png" class="country-img" alt="linkedin">
        <img src="./assets/footer/twitter.png" class="country-img" alt="twitter">
    </div>
    <hr class="horizontal-line"/>
    <div class="content3-flex1">
<p>About</p>
<p>Careers</p>
<p>Privacy policy</p>
<p>Terms & Conditions</p>
<p>Mobile App</p>
<p>Blog</p>
<p>Contact</p>
<p>Site map</p>
    </div>
  </div>
</div>
