<!-- <app-progress-bar></app-progress-bar> -->
<div *ngIf="!isLoading&&!isBack&&!isNext" class="container">
    <div class="nav-link">
        <div class="navbar">
            <a routerLink="/home">
                <div class="list-items">Home</div>
            </a>
            <div class="list-items"><span style="color: orange;">></span></div>
            <div class="list-items">{{city |titlecase}}</div>
            <div class="list-items"><span style="color: orange;">></span></div>
            <a routerLink="/explore">
                <div class="list-items">Explore</div>
            </a>
            <div class="list-items"><span style="color: orange;">></span></div>
            <div class="list-items">{{foodType|titlecase}}</div>
            <div class="list-items"><span style="color: orange;">></span></div>
            <div class="list-items">My Cart</div>
        </div>
    </div>
    <div *ngIf="!isCartEmpty" class="content">
        <div class="content-heading">
            {{restData['name']}}
        </div>
        <div class="distance-text">Estimated Delivery time -&nbsp;{{restData['deliveryTimeInMins']}} min</div>
        <div class="resto-card">
            <div class="item-list">
                <div *ngFor="let data of cartArray;let i=index" class="item-card">
                    <div class="item-title">

                        <img *ngIf="data['menuItem']['veg']" class="veg-nonveg-icon"
                            src="./assets/restaurant-details/restaurant-menu/Group6.png" alt="">
                        <img *ngIf="!data['menuItem']['veg']" class="veg-nonveg-icon"
                            src="./assets/restaurant-details/restaurant-menu/Group_8.png" alt="non-veg">
                        <div id="item-name">{{data["menuItem"]["name"]}}</div>
                        <div class="add-remove-container">
                            <button (click)="decrement(data,i)" class="minus">-</button>

                            <!-- <img class="mat-remove" src="./assets/restaurant-details/restaurant-menu/my-orders/minus.png" alt="minus">  -->
                            <span style="color: #feb456;">{{data["quantity"]}}</span>
                            <button (click)="increment(data['menuItem']['id'])" class="add">+</button>
                            <!-- <img class="mat-remove" src="./assets/restaurant-details/restaurant-menu/my-orders/add.png" alt="add">  -->
                        </div>
                    </div>
                    <div class="cost-flex">
                        <div>Rs&nbsp;{{data["menuItem"]["price"]}}</div>
                        <div>Rs&nbsp;{{data["quantity"]*data["menuItem"]["price"]}}</div>
                    </div>

                    <button (click)="removeItem(data['menuItem']['id'],i)" class="remove-icon">Remove</button>
                </div>
            </div>

            <div class="comments">
                <label id="cooking-title" for="cookingInstructions">Cooking instructions?</label>
                <input name="cookingInstructions" type="text" placeholder="Mention it here...">
            </div>
            <div class="btn-flex">
                <button (click)="goToMyCart()" class="back-btn">back</button>
                <button (click)="chooseAddress()" class="address-btn">choose address</button>
            </div>
        </div>
    </div>
    
</div>
<div *ngIf="isCartEmpty&&!isBack&&!isNext" class="content">
    <div class="content-heading">
        Cart is Empty
    </div>
</div>

<div *ngIf="isLoading" class="
progress-indicator">
  <mat-progress-spinner color=warn mode="indeterminate">
  </mat-progress-spinner>
</div>
<div *ngIf="isBack&&!isNext">
    <app-cart></app-cart>
</div>
<div *ngIf="isNext">
    <app-choose-address></app-choose-address>
</div>