<div *ngIf="isForgotPassword">
    <app-forgot-password>/</app-forgot-password>
</div>
<div *ngIf="isSignUp">
    <app-email-input>/</app-email-input>
</div>
<div *ngIf="!isForgotPassword && !isSignUp">
    <div class="close-button"> <mat-icon id="close-icon">close</mat-icon></div>
    <div class="form-container">
        <div class="form-heading">Lets get started!</div>
    
        <form [formGroup]="loginForm">

            <label id="form-label">Email</label>
            <div class="form-group"><input class="form-control" type="email" formControlName="loginEmail"></div>
            <div *ngIf="loginForm.controls['loginEmail'].invalid && (loginForm.controls['loginEmail'].dirty || loginForm.controls['loginEmail'].touched)" class="alert">
                <div class="error-text" *ngIf="loginForm.controls['loginEmail'].errors!['required']">
                Please enter Email
              </div>
              <div class="error-text" *ngIf="loginForm.controls['loginEmail'].errors!['pattern']">
                Invalid email address
              </div>
            </div>
            <label id="form-label">Password</label>
            <div id="password-field"><input class="form-control" [type]="hide?'password':'text'"  formControlName="loginPassword">
                <mat-icon matSuffix id="blink-icon" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </div>
            <div *ngIf="loginForm.controls['loginPassword'].invalid && (loginForm.controls['loginPassword'].dirty || loginForm.controls['loginPassword'].touched)" class="alert">
                <div class="error-text" *ngIf="loginForm.controls['loginPassword'].errors!['required']">
                Please enter Password
              </div>
              <div class="error-text" *ngIf="loginForm.controls['loginPassword'].errors!['pattern']">
                Enter a valid password
              </div>
            </div>
            <p id="forgot-password" (click)="forgotPassword()">Forgot Password?</p>
            <div class="form-group"><button (click)="isLogin()" class="btn-login" type="submit">login</button></div>
            
        </form>
        <div class="other-apps">
        <button class="btn facebook">Facebook</button>
        <button class="btn google">Google+</button>
        </div>
        <p id="login-text">Don't have an acount?&nbsp;<span (click)="createNewAccount()" class="span-text">Get one now!</span></p>
        
    </div>
</div>


